input {
  width: 20%;
  border: none;
}
.inpButt {
  border: none;
  width: 5rem;
}
input:focus {
  outline: none;
  padding-left: 2rem;
}
.addtodocont {
  height: 4rem;
  display: flex;
  justify-content: center;
}
